/.DS_Store export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/LICENSE export-ignore
/README.md export-ignore
/CHANGELOG.md export-ignore
/tests/ export-ignore
/.github/ export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/jest.config.js export-ignore
/node_modules/ export-ignore
/coverage/ export-ignore
